Package: xyz.skitty.livesafari
Name: LiveSafari
Depends: mobilesubstrate, com.muirey03.libimagepicker
Version: 1.0
Architecture: iphoneos-arm
Description: Make Safari's icon point north
Icon: https://skitty.xyz/repo/icons/xyz.skitty.livesafari.png
Depiction: https://skitty.xyz/repo/depictions/?p=xyz.skitty.livesafari
SileoDepiction: https://skitty.xyz/repo/depictions/?s=xyz.skitty.livesafari
Maintainer: Skitty
Author: Skitty
Section: Tweaks
